<div class="mainvisual">
  <div class="mainvisual-logo text-white">
    <p>Lorem lpsum</p>
    <p>simply dummy text of the printing</p>
  </div>
</div>

<div class="content">
  <div class="content-logo">Portfolio</div>
  <div class="contentt-text">
    <p>It is a long established fact that a reader will be distracted by the readable</p>
    <p>content of a page when looking at its layout.</p>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>


<div class="portfolio-images">
  <div class="portfolio-image1"></div>
  <div class="portfolio-image2"></div>
  <div class="portfolio-image3"></div>
  <div class="portfolio-image4"></div>
  <div class="portfolio-image5"></div>
  <div class="portfolio-image6"></div>

</div>
</div>

<div class="content">
  <div class="content-logo">Feature</div>
  <div class="content-text">
    <p>It is a long established fact that a reader will be distracted by the readable</p>
    <p>content of a page when looking at its layout.</p>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>
  <div class="feature-contents">
    <div class="feature-content">
      <i class="fa-solid fa-code feature-icon"></i>
      <span>Strength1</span>
      <p>
        Contrary to popular belief, Lorem Ipsum
        is not simply random text. It has roots
        in a piece of classical Latin literature
        from 45 BC, making it over 2000 years
        old. Richard McClintock, a Latin
        professor at Hampden-Sydney College in
        Virginia, looked up one of the more
        obscure Latin words, consectetur
      </p>
    </div>
    <div class="feature-content">
      <i class="fa-solid fa-code feature-icon"></i>
      <span>Strength2</span>
      <p>
        Contrary to popular belief, Lorem Ipsum
        is not simply random text. It has roots
        in a piece of classical Latin literature
        from 45 BC, making it over 2000 years
        old. Richard McClintock, a Latin
        professor at Hampden-Sydney College in
        Virginia, looked up one of the more
        obscure Latin words, consectetur
      </p>
    </div>
    <div class="feature-content">
    <i class="fa-solid fa-code feature-icon"></i>
      <span>Strength3</span>
      <p>
        Contrary to popular belief, Lorem Ipsum
        is not simply random text. It has roots
        in a piece of classical Latin literature
        from 45 BC, making it over 2000 years
        old. Richard McClintock, a Latin
        professor at Hampden-Sydney College in
        Virginia, looked up one of the more
        obscure Latin words, consectetur
      </p>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-logo">Profile</div>
  <div class="content-text">
    <p>It is a long established fact that a reader will be distracted by the readable</p>
    <p>content of a page when looking at its layout.</p>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>

  <div class="profile-main">
    <diV class="profile-main-content">
      <div class="profile-image"></div>
    </diV>
    <div class="profile-main-content">
      <span>MyName</span>
      <p>Contrary to popular belief, Lorem Ipsum is not simply
      random text. It has roots in a piece of classical Latin
      literature from 45 BC, making it over 2000 years old.
      Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure
      Latin words, consectetur</p>
      <span>MySkills</span>
      <p>HTML/CSS,JavaScript,JQuery,PhotoShop</p>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-logo">Contact</div>
  <div class="content-text">
    <p>It is a long established fact that a reader will be distracted by the readable</p>
    <p>content of a page when looking at its layout.</p>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>

  <div class="contact-main">
    <diV class="contact-main-box">
      <span>Mail</span>
      <p>xxx@xxx.com</p>
      <span>Tel</span>
      <p>000-0000-0000</p>
    </diV>
    <diV class="contact-main-box">
      <span>SNS</span>
      <i class="fa-brands fa-facebook-f contact-icon"></i>
      <i class="fa-brands fa-facebook-f contact-icon"></i>
      <i class="fa-brands fa-facebook-f contact-icon"></i>
    </diV>
  </div>
</div>