<div class="container-fluid">
  <div class="mainvisual-logo text-white">
    <p>Lorem lpsum</p>
    <p>simply dummy text of the printing</p>
  </div>
</div>

<div class="portfolio">
  <div class="portfolio-logo">Portfolio</div>
  <div class="portfolio-text">
    <p>It is a long established fact that a reader will be distracted by the readable</p>
    <p>content of a page when looking at its layout.</p>
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>
</div>

<div class="portfolio-images">
  <div class="portfolio-image1"></div>
  <div class="portfolio-image2"></div>
  <div class="portfolio-image3"></div>
  <div class="portfolio-image4"></div>
  <div class="portfolio-image5"></div>
  <div class="portfolio-image6"></div>

</div>