// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mainvisual {
  width: 100%;
  height: 650px;
  background-image: url(mv.png);
  background-size: cover;
  background-position: left center;
}

@media screen and (max-width:768px) {
  .mainvisual {
    background-image: url(code.png);
    background-position: center;
  }
}


.mainvisual-logo {
 padding-top: 200px;

}

@media screen and (max-width:768px) {
  .mainvisual-logo {
    margin: 0px 10px;
  }
}

.mainvisual-logo p{
  width: 380px;
  font-size: 64px;
  margin: 0 auto;

}

.mainvisual-logo p:last-child {
  width: 320px;
  font-size: 20px;
  padding-tp: 10px;
}

.content {
  width: 100%;
  padding: 90px 0px;
  display: flex;
  background-color: #ECEFF1;
  flex-direction: column;
  align-items: center;
}

.content:nth-child(2n) {
  background-color: white;
}

.content-logo {
  width: 100px;
  font-size: 32px;
  padding-bottom: 8px;
  margin-bottom: 30px;
  position:  relative;
}

.content-logo:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px; /*下線の上下位置調整*/
  display: inline-block;
  width: 50px; /*下線の幅*/
  height: 3px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #EC715F; /*下線の色*/
}

.portfolio-images {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap

}

.portfolio-text {
  width: 100%;
  margin-top: 56px;
  padding: 30px 0px;
   display: flex;
 flex-direction: column;
  align-items: center;
}

.portfolio-image1 {
  width: 300px;
  height: 250px;
  background-image: url(sketch.jpg);
  background-size: cover;
  margin: 0px 10px 10px 0px;
}
.portfolio-image2 {

  width: 300px;
  height: 250px;
  background-image: url(websuku.png);
  background-size: cover;
  margin: 0px 10px 10px 0px;
}
.portfolio-image3 {
  width: 300px;
  height: 250px;
  background-image: url(write.jpg);
  background-size: cover;
}
.portfolio-image4 {
  width: 300px;
  height: 250px;
  background-image: url(webcamp.png);
  background-size: cover;
  margin-right: 10px;
}
.portfolio-image5 {
  width: 300px;
  height: 250px;
  background-image: url(talk.jpg);
  background-size: cover;
  margin-right: 10px;
}
.portfolio-image6 {
  width: 300px;
  height: 250px;
  background-image: url(webcamp-mother.png);
  background-size: cover;
}

@media screen and (max-width:768px) {
  .portfolio-image1,
  .portfolio-image2,
  .portfolio-image3,
  .portfolio-image4,
  .portfolio-image5,
  .portfolio-image6 {
    background-position: center;
    margin-right: 0px;
  }
}


.feature-contents {
  width: 980px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .feature-contents {
    width: 100%;
  }
}

.feature-content {
  width: 320px;
  margin-right: 10px;
}

@media screen and (max-width:768px) {
  .feature-content {
    width: 100%;
  }
}


.feature-content:nth-child(3n) {
  margin-right: 0px;
}

.feature-icon {
  width: 60px;
  margin: 0 auto;
  font-size: 60px;
  display: block;
}

.feature-content span {
  width: 70px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 0px;
  display: block;
}


.profile-main {
  width: 1024px;
  display: flex;
  justify-content: center;
}

.profile-main-content {
  width: 512px;
}

@media screen and (max-width:768px) {
   .profile-main-content {
      width: 100%;
   }
}

.profile-main-content:first-child {
  display: flex;
  justify-content: center;
}

.profile-image {
  background-image: url(my-icon.jpg);
  background-size: 250px 250px;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  250px;       /* ※縦横を同値に */
  height: 250px;
}

.profile-main-content span {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-main-content p {
  margin-bottom: 20px;
}

.contact-main {
  width: 800px;
  display: flex;
  justify-content: center;
}

.contact-main-box {
  width: 400px;

}

@media screen and (max-width:768px) {
   .contact-main-box {
      width: 100%;
   }
}


.contact-main-box span {
  width: 50px;
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 5px;
  display: block;

}

.contact-main-box p {
  width: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: block;

}


.contact-icon {
  width: 70px;
  font-size: 50px;
  padding-right: 20px;
  margin: 0 auto;
}


@media screen and (max-width:768px) {
  .portfolio-images,
  .profile-main,
  .contact-main {
  display: flex;
  justify-contact: center;
  width: 100%;
}
}
@media screen and (max-width:768px) {
   .profile-main,
   .contact-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
}





@media screen and (max-width:768px) {
    .profile-main-content p {
      width: 100%;
    }
}

@media screen and (max-width:768px) {
  .content {
  padding: 90px 10px;

}
}