<header>
  <div class="header-line">
    <div class="header-logo"></div>
      <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <li><a href="#">MENU1</a></li>
        <li><a href="#">MENU2</a></li>
        <li><a href="#">MENU3</a></li>
        <li><a href="#">MENU4</a></li>
        <li><a href="#">MENU5</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    

    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    
  </div>
 
</header>