<header>
 <nav class="navbar navbar-expand-lg text-white" style="height: 70px; background-color: #EC715F">
   <div class="container p-0" style="height: 70px; width: 1024px">
      <div class="navbar-brand, display: inline-block">
        <%= image_tag 'logo.png', size: '150x70'%>
      </div>
      <ul class="navbar-nav" style="flex-direction: row">
        <li>Portfolio</li>
        <li>Feature</li>
        <li>Profile</li>
      </ul>
   </div>
  </nav>
</header>